<%= form_for [:dashboard, @move] do |f| %>

  <div class="form-group">
  <%= f.label :name, 'Name', class: 'col-sm-1' %>
   <div class="col-sm-2">
    <%= f.text_field :name, class: 'form-control col-sm-4 inline'%>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :power, class: 'col-sm-1' %>
    <div class="col-sm-2">
      <%= f.text_field :power, class: 'form-control inline'%>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit %>
  </div>

<% end %>
