<p id="notice"><%= notice %></p>

<h1>Moves</h1>

<div id="new-monster-title">
  <h3>Click here to upload your own move</h3>

  <%= link_to 'New Move', new_dashboard_move_path, class: 'btn btn-primary'  %>

</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moves.each do |move| %>
    <tr>
      <td>
        <%= image_tag 'slug.gif', size: "200" %>
      </td>
      <td>
      <span> Name: </span><%= move.name %>
      <br>
      <span> power: </span><%= move.power %>
      <br>


     </td>


    </tr>
    <% end %>
  </tbody>
</table>

<br>
